/* App.css */
.Landing {
  font-family: Arial, sans-serif;
  text-align: center;
}

.Landing-header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CSS file: LandingPage.css */

.Landing-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  /* Optional: background color for the nav */
}

.nav-links {
  display: flex;
  gap: 20px;
  /* Adds space between each link */
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  /* Adjust color as needed */
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #007bff;
  
}

.nav-button {
  margin-left: 20px;
  padding: 5px 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #0056b3;
  /* Darken the button on hover */
}

.hero {
  background-color: #f9f9f9;
  padding: 50px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.learn-more-button {
  padding: 15px 30px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.testimonials {
  padding: 50px 20px;
  background-color: #fff;
}

.testimonials h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.testimonials p {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #777;
}

.testimonials-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonial {
  max-width: 300px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 10px;
  text-align: left;
}

.testimonial p {
  font-size: 1em;
  margin-bottom: 10px;
}

.testimonial span {
  font-size: 0.9em;
  color: #555;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: left;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-logo {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #bbb;
}

.footer-links a:hover {
  color: #fff;
}